name: coco_app
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  # Third-party dependencies
  file_picker: ^8.1.6
  path_provider: ^2.1.0
  image_picker: ^1.0.4
  video_player: ^2.8.1
  provider: ^6.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

